<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cn.ispanish">

    <!--用于访问网络，网络定位需要上网-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_FORMAT_FILESYSTEMS" />
    <!--ShardSDK-->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- 蓝牙分享所需的权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- 基础权限 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <!-- 属于android6.0运行时权限，android6.0在使用时，需要再次请求以下权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 录音权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature android:name="android.hardware.camera" />

    <permission
        android:name="com.cn.ispanish.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.cn.ispanish.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- Optional. Required for location feature -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <application
        android:name=".ISpanishApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Black.NoTitleBar">
        <activity
            android:name=".activitys.MainLodingActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activitys.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.WebContentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.IndexBlockListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity
            android:name=".activitys.RegisterVerificationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity
            android:name=".activitys.RegisterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity
            android:name=".activitys.UserCenterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity
            android:name=".activitys.VideoPlayListActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activitys.VideoPlayActivity" />
        <activity
            android:name=".activitys.CollectionListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.VideoHistoryListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.SetingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.PushHistoryListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.AboutUsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.DownloadVideoListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.OfflineVideoListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.OfflineVideoPlayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.play.PlayOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.VideoDataListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.CourseListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.VideoPlayContentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.VideoPlayContentNoStartActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.PermissionsActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activitys.PaperActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity
            android:name=".activitys.PaperGridActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.PaperListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.ClassificationQusetionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.QuestionBankActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.PaperForTypeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity
            android:name=".activitys.CollectionPaperActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.CompetitionRankingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.GameContentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.PaperForVipListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.PaperForVipContentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.play.PlayPaperOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.PaperForErrorActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity
            android:name=".activitys.ShareActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" />
        <activity
            android:name=".activitys.GamePaperActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.MyselfRankingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.VipBlocktoListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.ImageListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.ClassificationQusetionGridActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.PaperForErrorBankActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.PaperForErrorInTypeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity
            android:name=".activitys.PaperForShowExplainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity
            android:name=".activitys.ForgetActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.BindingMobileActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.CourseFrozenListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.OffLineActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.play.PayCouponListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.GameResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.FirstActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.GameCheckPaperActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.SharePaperActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.VersionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" />
        <activity
            android:name=".activitys.LuckMessagActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" />
        <activity
            android:name=".activitys.OneByOneContentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.MinClassContentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.play.PlayMinClassActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.play.PlayLiveGiftActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.ClassificationQusetionGridV2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.MyselfPaperForVipListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.HiddenSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.ChannelActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.PaperGridOldActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.CollectionPaperQuestionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.PaperForQuestionErrorInTypeActivity"
            android:screenOrientation="portrait" />

        <!--直播-->
        <activity
            android:name=".activitys.LiveRoomActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="PlayerActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".live.LiveTestActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/PlayerTheme"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="PlayerActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.cn.ispanish.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- 服务 -->
        <service android:name=".download.DownloadNewAppService" />

        <!--支付宝-->
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <!--ShareSDK-->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">

            <intent-filter>
                <data android:scheme="tencent1105780727" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- 调用新浪原生SDK，需要注册的回调activity -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!--集成line客户端登录授权，需要添如下格式的过滤器-->
            <intent-filter>
                <data android:scheme="line.1477692153" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

        <!--微信分享回调 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!--微信支付回调 -->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <!--保利威视-->
        <service android:name=".services.PolyvService" />
        <service android:name=".video.server.PolyvDLNotificationService" />

        <!--友盟-->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="58c7a2c999f0c7124e000f21" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="debug" />
        <!--<meta-data
            android:name="UMENG_CHANNEL"
            android:value="app" />-->
        <!--<meta-data
            android:name="UMENG_CHANNEL"
            android:value="mei" />-->
         <!--<meta-data
             android:name="UMENG_CHANNEL"
             android:value="huawei" />-->
          <!--<meta-data
              android:name="UMENG_CHANNEL"
              android:value="qq" />-->
         <!--<meta-data
             android:name="UMENG_CHANNEL"
             android:value="baidu" />-->
        <!--<meta-data
            android:name="UMENG_CHANNEL"
            android:value="oppo" />-->
        <!--<meta-data
           android:name="UMENG_CHANNEL"
           android:value="mi" />-->
         <!--<meta-data
             android:name="UMENG_CHANNEL"
             android:value="360" />-->
        <!-- <meta-data
             android:name="UMENG_CHANNEL"
             android:value="wandou" />-->

        <!--JPush-->
        <!-- Required SDK 核心功能-->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService" />
                <category android:name="com.cn.ispanish" />
            </intent-filter>
        </service>

        <!-- Required SDK核心功能-->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />
                <category android:name="com.cn.ispanish" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- Required SDK核心功能-->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.cn.ispanish" />
            </intent-filter>
        </activity>

        <!-- SDK核心功能-->
        <activity
            android:name="cn.jpush.android.ui.PopWinActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@style/MyDialogStyle">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.cn.ispanish" />
            </intent-filter>
        </activity>

        <!-- Required SDK核心功能-->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false"></service>

        <!-- Required SDK核心功能-->
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" />

        <!-- User defined. 用户自定义的广播接收器-->
        <receiver
            android:name=".receiver.JPushReceiver"
            android:enabled="true">
            <intent-filter>
                <!--Required 用户注册SDK的intent-->
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <!--Required 用户接收SDK消息的intent-->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <!--Required 用户接收SDK通知栏信息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <!--Required 用户打开自定义通知栏的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <action android:name="cn.jpush.android.intent.CONNECTION" />
                <category android:name="com.cn.ispanish" />
            </intent-filter>
        </receiver>

        <!-- Required. For publish channel feature -->
        <!-- JPUSH_CHANNEL 是为了方便开发者统计APK分发渠道。-->
        <!-- 例如: -->
        <!-- 发到 Google Play 的APK可以设置为 google-play; -->
        <!-- 发到其他市场的 APK 可以设置为 xxx-market。 -->
        <!-- 目前这个渠道统计功能的报表还未开放。-->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />
        <!-- Required. AppKey copied from Portal -->
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="470cbddd3109ed7b328d3c7a" />

    </application>

</manifest>